  //==========================================//
 // Variables
//==========================================//
//color
$mainBlue: #169CEE;

$purple: #555572;
$purpleText: #66637A;
$purpleBorder: #E0E0EA;
$red: #FF395E;
$green: #00DB7C;
$darkBlue: #0E69A1;

$lightGrey: #FDFAFB;
$mediumGrey: #E0E0EA;
$blueGrey: #768C97;

$boldText: #000000;
$textColor: #333333;

$background: #ffffff;
$white: #ffffff;

//breakpoints
$hugeWidth: 1440px;
$largeWidth: 960px;
$mediumWidth: 720px;
$smallWidth: 600px;
$tinyWidth: 480px;
$midgetWidth: 320px;


  //==========================================//
 // Fonts
//==========================================//
@font-face {
    font-family: 'alrightRegular';
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot');
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.woff') format('woff'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.ttf') format('truetype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.svg#alrightsublpwebfontuseonly-Rg') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'inputMono';
    src: url('../fonts/InputMono-Regular.eot');
    src: url('../fonts/InputMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/InputMono-Regular.woff') format('woff'),
         url('../fonts/InputMono-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../fonts/DIN17SBOP-Regular.eot');
    src: url('../fonts/DIN17SBOP-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/DIN17SBOP-Regular.woff') format('woff'),
         url('../fonts/DIN17SBOP-Regular.ttf')  format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'alrightBold';
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot');
    src: url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.woff') format('woff'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.ttf') format('truetype'),
         url('../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.svg#alrightsublpwebfontuseonly-Bd') format('svg');
    font-weight: 700;
    font-style: normal;
}

  //==========================================//
 // Main Structure
//==========================================//
*{
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
}
html, body{
    height: 100%;
    width: 100%;
    color: $textColor;
    font-size: 100%;
    background: $background;
    font-family: 'alrightRegular';
    font-weight: 300;
}

//if transforms or svg not supported
html:not(.inlinesvg), html:not(.csstransforms){
    svg, .skyline{
        display: none;
    }
    .header{
        height: 360px;
        background: $lightGrey;
        .container{
            display: table;
        }
        .heroText{
            position: relative;
            display: table-cell;
            vertical-align: middle;
            top: 48px;
            height: 360px;
        }
    }
}

.container{
    max-width: $largeWidth;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

a {
    color: $mainBlue;
    text-decoration: none;
    outline: 0;
    transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
    position: relative;
    &:focus {
        outline: 0;
    }
    &.white{
        color: $white;
    }
}

/* Selection */
::-moz-selection{background: $mainBlue; color: $background; text-shadow: none;}
::selection{background: $mainBlue; color: $background; text-shadow: none;}


  //==========================================//
 // Typography
//==========================================//
h1, h2, h3, h4, h5, h6{

}
h1{
    color: $mainBlue;
    font-size: 64px;
    font-family: 'alrightRegular';
    letter-spacing: 2px;
    line-height: 1;
    font-weight: 600;
    margin-bottom: 0px;
    @media screen and (max-width: $largeWidth) {
        font-size: 48px;
    }
    @media screen and (max-width: $smallWidth) {
        font-size: 32px;
    }
    @media screen and (max-width: $tinyWidth) {
        font-size: 24px;
    }
}
h2{
    font-size: 20px;
    font-family: 'din';
    font-weight: 300;
    letter-spacing: 0.3px;
    line-height: 24px;
    @media screen and (max-width: $mediumWidth) {
        font-size: 16px;
    }
    @media screen and (max-width: $tinyWidth) {
        font-size: 14px;
    }
}
h3{
    font-size: 22px;
    line-height: 24px;
    color: $mainBlue;
    font-family: 'alrightRegular';
    letter-spacing: -0.2px;
    margin: 48px 0px 16px 0px;
    text-align: center;
    font-weight: 600;
    span{
        font-family: 'din';
        color: $mediumGrey;
        width: 32px;
        margin-right: 16px;
        margin-left: -48px;
    }
    @media screen and (max-width: $tinyWidth){
        font-size: 16px;
        margin: 32px 0px 8px 0px;
    }
}
h4{
    font-family: 'alrightRegular';
    font-size: 18px;
    letter-spacing: 0.2px;
    line-height: 32px;
    margin: 0px;
    white-space: nowrap;
    font-weight: 300;
}
h5{
    font-family: 'din';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $mainBlue;
    opacity: 0.6;
    margin-bottom: 12px;
    line-height: 12px;
    font-weight: 300;
}

h6{
    font-family: 'alrightRegular';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0px auto 48px auto;
    color: $purpleText;
    max-width: $smallWidth;
    text-align: center;
    font-weight: 300;
}

p{
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0px 0px 48px 0px;
    color: $purpleText;
    max-width: $mediumWidth;
    @media screen and (max-width: $tinyWidth){
        font-size: 14px;
    }
}

br{
    height: 24px;
}

hr{

}

button, .button{
    font-family: "din";
    border-radius: 4px;
    outline: none;
    background: $mainBlue;
    color: $white;
    border: none;
    margin-right: 32px;
    font-size: 14px;
    padding: 0px 16px;
    height: 32px;
    line-height: 32px;
    transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    &.outline{
        background: transparent;
        border: 2px solid $mainBlue;
        color: $mainBlue;
        &:hover{
            background: $mainBlue;
            color: $white;
        }
    }
}

  //==========================================//
 // Navigation
//==========================================//
nav{
    position: absolute;
    z-index: 99;
    top: 24px;
    width: 100%;
    height: 80px;
    pointer-events: none;
    .logo{
        height: 56px;
        margin: 12px 0px;
        @media screen and (max-width: $largeWidth) {
            height: 48px;
        }
    }
    ul{
        float: right;
        margin: 0px;
        padding: 0px;
        pointer-events: all;
        a{
            color: $mainBlue;
            text-decoration: none;
        }
        li{
            font-family: "din";
            float: left;
            line-height: 80px;
            margin: 0px 32px 0px 0px;
            padding: 0px;
            list-style: none;
            color: $mainBlue;
            font-size: 16px;
            cursor: pointer;
            letter-spacing: 0.3px;
            &:last-of-type{
                margin: 0px;
            }
            @media screen and (max-width: $largeWidth) {
                line-height: 72px;
            }
            
        }
        ul{
            padding-left: 16px;
        }
    }
    @media screen and (max-width: $largeWidth) {
        top: 8px;
    }
    @media screen and (max-width: $smallWidth){
        top: 4px;
        .container{
            padding: 0px 16px;
        }
    }
    @media screen and (max-width: $tinyWidth){
        ul li{
            font-size: 12px;
            line-height: 64px;
        }
        .logo{
            width: 40px;
            height: 40px;
        }
    }
}

  //==========================================//
 // Header
//==========================================//
.header{
    position: relative;
    height: 78%;
    max-height: 800px;
    width: 100%;
    overflow: hidden;
    .heroText{
        font-family: 'alrightRegular';
        color: $white;
        position: fixed;
        top: 21%;
        left: 0px;
        text-align: center;
        width: 100%;
        img.headerText{
            width: 65%;
            max-width: 640px;
            @media screen and (max-width: $largeWidth) {
                width: 50%;
            }
            @media screen and (max-width: $smallWidth){
                top: 50%;
                width: 80%;
                width: calc(100% - 96px);
            }
        }
        h2{
            color: $mainBlue;
            .subheadSection{
                margin: 0px 32px;
                @media screen and (max-width: $largeWidth) {
                    margin: 0px 24px;
                }
                @media screen and (max-width: $smallWidth) {
                    margin: 0px 12px;
                }
            }
            .icon{
                padding-right: 8px;
                position: relative;
                top: 4px;
                height: 24px;
                display: inline-block;
            }
            @media screen and (max-width: $smallWidth){
                display: none;
            }
        }
        @media screen and (max-width: $smallWidth){
            position: absolute;
            top: 35.5%;
        }
    }
    @media screen and (max-width: $smallWidth){
        height: 45%;
        .container{
            height: 100%;
        }
    }
}

  //==========================================//
 // Header Illustration
//==========================================//
.headerIllustration{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    .illustrationForeground{
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: auto;
        width: 100%;
        max-width: 1440px;
        height: 100%;
        max-height: 900px;
        overflow: visible;
    }
    img{
        height: 100%;
    }
    svg{
        height: 100%;
        position: absolute;
        bottom: 0px;
        overflow: visible;
        &.headerLeft{
            left: -4%;
            .st0{fill:#169CEE;}
            .st1{fill:#0E69A1;}
            .st2{fill:#555574;}
            .st3{fill:#3A3A59;}
            .st4{fill:#EF3F61;}
            .st5{fill:none;stroke:#3A3A59;stroke-width:8;stroke-miterlimit:10;}
            .st6{fill:none;stroke:#0E69A1;stroke-width:8;stroke-linejoin:round;stroke-miterlimit:10;}
            .st7{fill:none;stroke:#0E69A1;stroke-width:8;stroke-miterlimit:10;}
            .st8{fill:none;stroke:#3A3A59;stroke-width:12;stroke-miterlimit:10;}
            .st9{fill:none;stroke:#3A3A59;stroke-width:12;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st10{fill:#4BBC6E;}
            .st11{opacity:0.3;fill:#FFFFFF;enable-background:new;}
            .st12{fill:none;stroke:#0E69A1;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
            .st13{fill:#DB3B61;}
            .st14{fill:#FFFFFF;}
            .st15{clip-path:url(#SVGID_2_);}
            .st16{fill:none;stroke:#169CEE;stroke-width:8;stroke-miterlimit:10;}
            .st17{fill:#464661;stroke:#3A3A59;stroke-width:8;stroke-miterlimit:10;}
            //animated things
            .apps{
                rect, path{
                    transform: scale(0.45);
                    transform-origin: 50% 50%;
                }
                rect{
                    transform: translateY(100%) scale(0.45);
                }
                path{
                    transform: rotateZ(90deg) scale(0.45);
                }
            }
        }
        &.headerCenter{
            left: 0px;
            right: 0px;
            margin: auto;
            .st0{fill:#3A3A59;}
            .st1{fill:#169CEE;}
            .st2{fill:#0E69A1;}
            .st3{fill:#F15732;}
            .st4{opacity:0.3;fill:#FFFFFF;enable-background:new;}
            .st5{fill:#555574;}
            .st6{fill:none;stroke:#0E69A1;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
            .st7{fill:#EF3F61;}
            .st8{fill:#4BBC6E;}
            .st9{fill:none;stroke:#3A3A59;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;}
            .st10{fill:none;stroke:#0E69A1;stroke-width:8;stroke-miterlimit:10;}
            .st11{fill:#159CEE;}
            @media screen and (max-aspect-ratio: 5/3) {
                opacity: 0;
            }
            @media screen and (max-width: $smallWidth){
                opacity: 0;
            }
        }

        &.headerRight{
            right: -1%;
            .st0{fill:none;stroke:#3A3A59;stroke-width:12;stroke-miterlimit:10;}
            .st1{fill:#3A3A59;}
            .st2{fill:#0E69A1;}
            .st3{fill:#169CEE;}
            .st4{fill:#F15732;}
            .st5{fill:#FFFFFF;}
            .st6{fill:#555574;}
            .st7{fill:#4BBC6E;}
            .st8{fill:#EF3F61;}
            .st9{fill:none;stroke:#3A3A59;stroke-width:16;stroke-linecap:round;stroke-miterlimit:10;}
            .st10{fill:none;stroke:#0E69A1;stroke-width:8;stroke-miterlimit:10;}
            .st11{fill:#159CEE;}
            .st12{clip-path:url(#hoistMaskOutter);}
            .st13{fill:none;stroke:#169CEE;stroke-width:8;stroke-miterlimit:10;}
            .st14{fill:none;stroke:#3A3A59;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
            .st15{fill:none;stroke:#3A3A59;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
            .st16{opacity:0.3;fill:#FFFFFF;enable-background:new;}
            .st17{fill:none;stroke:#0E69A1;stroke-width:8;stroke-linecap:round;stroke-miterlimit:10;}
            .st18{fill:none;stroke:#3A3A59;stroke-width:8;stroke-miterlimit:10;}
            .st19{fill: #4BBC6E;}
            .hoistWheels g{
                transform-origin: 50% 50%;
            }
            .phone2ColorContainer{
                clip-path:url(#phone2ScreenMask);
            }
            .phone3ColorContainer{
                clip-path:url(#phone3ScreenMask);
            }
            .phone2Color, .phone3Color{
                transform-origin: 50% 50%;

            }
        }
        .pushOne{
            transform-origin: 25% 0%;
        }
    }
    @media screen and (max-width: $smallWidth){
        height: 76%;
        svg.headerLeft{
            left: 2%;
        }
        svg.headerRight{
            right: 0px;
        }
    }
    @media screen and (max-aspect-ratio: 4/3) {
        height: 65%;
    }
}

  //==========================================//
 // Body
//==========================================//
.wrapper{
    width: 100%;
    background: $white;
}
section{
    padding-bottom: 16px;
    float: left;
    position: relative;
    width: 100%;
    background: $white;
    &:last-of-type{
        margin-bottom: 128px;
    }
}
.container{
    padding: 0px 32px;
}


//general repo styles
.repo, .repoList{
    border: 1px solid $purpleBorder;
    background: rgba($mainBlue, 0.03);
    overflow: hidden;
    .repoDescription{
        p{
            font-size: 14px;
            line-height: 24px;
            overflow: hidden;
            color: $purpleText;
            padding: 12px 16px;
            margin: 0px;
            opacity: 0.5;
        }
    }
    img.icon{
        height: 14px;
        margin-right: 4px;
        position: relative;
        top: 1px;
    }
}

.repo{
    text-overflow: ellipsis;
    margin-bottom: 48px;
    float: left;
    min-width: 240px;
    border-radius: 4px;
    //if calc not supported fallback
    width: 33.333333%;
    margin-right: 0px;
    //if calc supported make it sexy
    width: calc(33.333333% - 32px);
    margin-right: calc(48px);
    &:nth-of-type(3n){
        margin-right: 0px;
        @media screen and (max-width: $largeWidth) {
            margin-right: 36px;
        }
    }
    h4{
        color: $purpleText;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .SDKLogo{
        height: 48px;
        position: absolute;
        top: 11px;
        right: 16px;
    }
    .repoTitle{
        padding: 10px 16px;
        position: relative;
        p{
            margin: 0px;
            opacity: 0.45;
            font-size: 14px;
            font-family: "din";
            line-height: 16px;
            span{
                margin-right: 24px;
            }
        }
    }
    .repoLink{
        height: 48px;
        border-top: 1px solid $purpleBorder;
        position: relative;
        cursor: pointer;
        background: $white;
        a{
            border-bottom: 1px solid $purpleBorder;
        }
        &:first-of-type{
            margin-top: 0px;
        }
        p{
            line-height: 46px;
            padding: 0px 16px;
            color: $purpleText;
        }
        &:hover{
            &:after{
                opacity: 1;
            }
        }
        &:after{
            transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            content: "";
            position: absolute;
            right: 12px;
            top: 12px;
            width: 24px;
            height: 24px;
            background: url("../img/arrowRight.svg") no-repeat center;
            background-size: 100% auto;
            opacity: 0.18;
        }
    }
    .repoDescription{
        background: $white;
        border-top: 1px solid $purpleBorder;
        border-bottom: 1px solid $purpleBorder;
        height: 72px; //24px line height * 2 + 12px padding * 2
        overflow: hidden;
        text-overflow: ellipsis;
        //hide overflowing text and limit to two lines
        border-bottom: 12px $white solid;
    }
    .repoButton{
        padding: 14px 16px;
        background: rgba($mainBlue, 0.03);
        border-top: 1px solid $purpleBorder;
        button{
            width: 100%;
        }
    }
    @media screen and (max-width: $smallWidth){
        float: none;
        width: 100%;
    }
}

.repoList{
    width: 100%;
    height: 72px;
    background: rgba($mainBlue, 0.03);
    position: relative;
    border-bottom: 0px;
    .repoTitle, .repoDescription, .repoInfo{
        position: absolute;
        top: 0px;
        height: 100%;
        h4, p{
            line-height: 72px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            padding: 0px 16px;
        }
    }
    .repoTitle{
        left: 0px;
        width: 100%/12*4;
        h4{
            font-size: 14px;
            font-family: 'alrightBold';
            color: $purpleText;
            padding-left: 24px;
        }
    }
    .repoDescription{
        left: 100%/12*4;
        width: 100%/12*4;
    }
    .repoInfo{
        left: 100%/12*8;
        width: 100%/12*4;
        padding-right: 16px;
        p{
            white-space: nowrap;
        }
        span{
            float: right;
            padding-left: 16px;
        }
    }
    a{
        width: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        height: 100%;
    }
    &:first-of-type{
        border-radius: 4px 4px 0px 0px;
    }
    &:last-of-type{
        border-radius: 0px 0px 4px 4px;
        border-bottom: 1px solid $purpleBorder;
    }
}

footer{
    float: left;
    height: 288px;
    width: 100%;
    background: rgba(#ebebf2, 0.3);
    .container{
        position: relative;
        height: 100%;
        display: table;
    }
    .footerImage{
        position: absolute;
        top: 0px;
        left: 32px;
        right: 32px;
        bottom: 0px;
        margin: auto;
        height: 192px;
    }
    p{
        margin-bottom: 0px;
        line-height: 32px;
        color: $mainBlue;
        width: 100%;
    }
    .socialLinks, .needHelp{
        display: table-cell;
        vertical-align: middle;
    }
    .socialLinks{
        margin-right: 32px;
        h5, p{
            text-align: right;
        }
    }
    .needHelp{
        margin-left: 32px;
        h5, p{
            text-align: left;
        }
    }
    .socialIcons{
        float: right;
        margin-top: 2px;
        margin-right: -8px;
        img{
            height: 32px;
            cursor: pointer;
            margin-left: 4px;
            transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1);
            &:hover{
                transform: scale(1.1);
            }
        }
    }
    @media screen and (max-width: $mediumWidth){
        .footerImage{
            display: none;
        }
    }
    @media screen and (max-width: $smallWidth){
        .socialLinks, .needHelp{
            display: block;
            margin-left: 16px;
            h5, p{
                text-align: left;
            }
            .socialIcons{
                float: left;
                margin-left: -5px;
                margin-right: 0px;
                img{
                    margin: 0px 4px 0px 0px;
                }
            }
        }
        .needHelp{
            margin-top: 48px;
        }
        .socialLinks{
            margin-top: 32px;
        }
    }
}







