@font-face {
  font-family: 'alrightRegular';
  src: url("../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot");
  src: url("../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.woff") format("woff"), url("../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.ttf") format("truetype"), url("../fonts/ttfah-alrightsublpwebfontuseonly-regular-webfont.svg#alrightsublpwebfontuseonly-Rg") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: 'inputMono';
  src: url("../fonts/InputMono-Regular.eot");
  src: url("../fonts/InputMono-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/InputMono-Regular.woff") format("woff"), url("../fonts/InputMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'din';
  src: url("../fonts/DIN17SBOP-Regular.eot");
  src: url("../fonts/DIN17SBOP-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/DIN17SBOP-Regular.woff") format("woff"), url("../fonts/DIN17SBOP-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'alrightBold';
  src: url("../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot");
  src: url("../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.woff") format("woff"), url("../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.ttf") format("truetype"), url("../fonts/ttfah-alrightsublpwebfontuseonly-bold-webfont.svg#alrightsublpwebfontuseonly-Bd") format("svg");
  font-weight: 700;
  font-style: normal; }
* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility; }

html, body {
  height: 100%;
  width: 100%;
  color: #333333;
  font-size: 100%;
  background: #ffffff;
  font-family: 'alrightRegular';
  font-weight: 300; }

html:not(.inlinesvg) svg, html:not(.inlinesvg) .skyline, html:not(.csstransforms) svg, html:not(.csstransforms) .skyline {
  display: none; }
html:not(.inlinesvg) .header, html:not(.csstransforms) .header {
  height: 360px;
  background: #FDFAFB; }
  html:not(.inlinesvg) .header .container, html:not(.csstransforms) .header .container {
    display: table; }
  html:not(.inlinesvg) .header .heroText, html:not(.csstransforms) .header .heroText {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    top: 48px;
    height: 360px; }

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  position: relative; }

a {
  color: #169CEE;
  text-decoration: none;
  outline: 0;
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1), text-shadow 0s cubic-bezier(0.4, 0, 0.2, 1) 0.3s;
  position: relative; }
  a:focus {
    outline: 0; }
  a.white {
    color: #ffffff; }

/* Selection */
::-moz-selection {
  background: #169CEE;
  color: #ffffff;
  text-shadow: none; }

::selection {
  background: #169CEE;
  color: #ffffff;
  text-shadow: none; }

h1 {
  color: #169CEE;
  font-size: 64px;
  font-family: 'alrightRegular';
  letter-spacing: 2px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 0px; }
  @media screen and (max-width: 960px) {
    h1 {
      font-size: 48px; } }
  @media screen and (max-width: 600px) {
    h1 {
      font-size: 32px; } }
  @media screen and (max-width: 480px) {
    h1 {
      font-size: 24px; } }

h2 {
  font-size: 20px;
  font-family: 'din';
  font-weight: 300;
  letter-spacing: 0.3px;
  line-height: 24px; }
  @media screen and (max-width: 720px) {
    h2 {
      font-size: 16px; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 14px; } }

h3 {
  font-size: 22px;
  line-height: 24px;
  color: #169CEE;
  font-family: 'alrightRegular';
  letter-spacing: -0.2px;
  margin: 48px 0px 16px 0px;
  text-align: center;
  font-weight: 600; }
  h3 span {
    font-family: 'din';
    color: #E0E0EA;
    width: 32px;
    margin-right: 16px;
    margin-left: -48px; }
  @media screen and (max-width: 480px) {
    h3 {
      font-size: 16px;
      margin: 32px 0px 8px 0px; } }

h4 {
  font-family: 'alrightRegular';
  font-size: 18px;
  letter-spacing: 0.2px;
  line-height: 32px;
  margin: 0px;
  white-space: nowrap;
  font-weight: 300; }

h5 {
  font-family: 'din';
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #169CEE;
  opacity: 0.6;
  margin-bottom: 12px;
  line-height: 12px;
  font-weight: 300; }

h6 {
  font-family: 'alrightRegular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0px auto 48px auto;
  color: #66637A;
  max-width: 600px;
  text-align: center;
  font-weight: 300; }

p {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin: 0px 0px 48px 0px;
  color: #66637A;
  max-width: 720px; }
  @media screen and (max-width: 480px) {
    p {
      font-size: 14px; } }

br {
  height: 24px; }

button, .button {
  font-family: "din";
  border-radius: 4px;
  outline: none;
  background: #169CEE;
  color: #ffffff;
  border: none;
  margin-right: 32px;
  font-size: 14px;
  padding: 0px 16px;
  height: 32px;
  line-height: 32px;
  transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1); }
  button.outline, .button.outline {
    background: transparent;
    border: 2px solid #169CEE;
    color: #169CEE; }
    button.outline:hover, .button.outline:hover {
      background: #169CEE;
      color: #ffffff; }

nav {
  position: absolute;
  z-index: 99;
  top: 24px;
  width: 100%;
  height: 80px;
  pointer-events: none; }
  nav .logo {
    height: 56px;
    margin: 12px 0px; }
    @media screen and (max-width: 960px) {
      nav .logo {
        height: 48px; } }
  nav ul {
    float: right;
    margin: 0px;
    padding: 0px;
    pointer-events: all; }
    nav ul a {
      color: #169CEE;
      text-decoration: none; }
    nav ul li {
      font-family: "din";
      float: left;
      line-height: 80px;
      margin: 0px 32px 0px 0px;
      padding: 0px;
      list-style: none;
      color: #169CEE;
      font-size: 16px;
      cursor: pointer;
      letter-spacing: 0.3px; }
      nav ul li:last-of-type {
        margin: 0px; }
      @media screen and (max-width: 960px) {
        nav ul li {
          line-height: 72px; } }
    nav ul ul {
      padding-left: 16px; }
  @media screen and (max-width: 960px) {
    nav {
      top: 8px; } }
  @media screen and (max-width: 600px) {
    nav {
      top: 4px; }
      nav .container {
        padding: 0px 16px; } }
  @media screen and (max-width: 480px) {
    nav ul li {
      font-size: 12px;
      line-height: 64px; }
    nav .logo {
      width: 40px;
      height: 40px; } }

.header {
  position: relative;
  height: 78%;
  max-height: 800px;
  width: 100%;
  overflow: hidden; }
  .header .heroText {
    font-family: 'alrightRegular';
    color: #ffffff;
    position: fixed;
    top: 21%;
    left: 0px;
    text-align: center;
    width: 100%; }
    .header .heroText img.headerText {
      width: 65%;
      max-width: 640px; }
      @media screen and (max-width: 960px) {
        .header .heroText img.headerText {
          width: 50%; } }
      @media screen and (max-width: 600px) {
        .header .heroText img.headerText {
          top: 50%;
          width: 80%;
          width: calc(100% - 96px); } }
    .header .heroText h2 {
      color: #169CEE; }
      .header .heroText h2 .subheadSection {
        margin: 0px 32px; }
        @media screen and (max-width: 960px) {
          .header .heroText h2 .subheadSection {
            margin: 0px 24px; } }
        @media screen and (max-width: 600px) {
          .header .heroText h2 .subheadSection {
            margin: 0px 12px; } }
      .header .heroText h2 .icon {
        padding-right: 8px;
        position: relative;
        top: 4px;
        height: 24px;
        display: inline-block; }
      @media screen and (max-width: 600px) {
        .header .heroText h2 {
          display: none; } }
    @media screen and (max-width: 600px) {
      .header .heroText {
        position: absolute;
        top: 35.5%; } }
  @media screen and (max-width: 600px) {
    .header {
      height: 45%; }
      .header .container {
        height: 100%; } }

.headerIllustration {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%; }
  .headerIllustration .illustrationForeground {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    max-width: 1440px;
    height: 100%;
    max-height: 900px;
    overflow: visible; }
  .headerIllustration img {
    height: 100%; }
  .headerIllustration svg {
    height: 100%;
    position: absolute;
    bottom: 0px;
    overflow: visible; }
    .headerIllustration svg.headerLeft {
      left: -4%; }
      .headerIllustration svg.headerLeft .st0 {
        fill: #169CEE; }
      .headerIllustration svg.headerLeft .st1 {
        fill: #0E69A1; }
      .headerIllustration svg.headerLeft .st2 {
        fill: #555574; }
      .headerIllustration svg.headerLeft .st3 {
        fill: #3A3A59; }
      .headerIllustration svg.headerLeft .st4 {
        fill: #EF3F61; }
      .headerIllustration svg.headerLeft .st5 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st6 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st7 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st8 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 12;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st9 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 12;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st10 {
        fill: #4BBC6E; }
      .headerIllustration svg.headerLeft .st11 {
        opacity: 0.3;
        fill: #FFFFFF;
        enable-background: new; }
      .headerIllustration svg.headerLeft .st12 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st13 {
        fill: #DB3B61; }
      .headerIllustration svg.headerLeft .st14 {
        fill: #FFFFFF; }
      .headerIllustration svg.headerLeft .st15 {
        clip-path: url(#SVGID_2_); }
      .headerIllustration svg.headerLeft .st16 {
        fill: none;
        stroke: #169CEE;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .st17 {
        fill: #464661;
        stroke: #3A3A59;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerLeft .apps rect, .headerIllustration svg.headerLeft .apps path {
        transform: scale(0.45);
        transform-origin: 50% 50%; }
      .headerIllustration svg.headerLeft .apps rect {
        transform: translateY(100%) scale(0.45); }
      .headerIllustration svg.headerLeft .apps path {
        transform: rotateZ(90deg) scale(0.45); }
    .headerIllustration svg.headerCenter {
      left: 0px;
      right: 0px;
      margin: auto; }
      .headerIllustration svg.headerCenter .st0 {
        fill: #3A3A59; }
      .headerIllustration svg.headerCenter .st1 {
        fill: #169CEE; }
      .headerIllustration svg.headerCenter .st2 {
        fill: #0E69A1; }
      .headerIllustration svg.headerCenter .st3 {
        fill: #F15732; }
      .headerIllustration svg.headerCenter .st4 {
        opacity: 0.3;
        fill: #FFFFFF;
        enable-background: new; }
      .headerIllustration svg.headerCenter .st5 {
        fill: #555574; }
      .headerIllustration svg.headerCenter .st6 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerCenter .st7 {
        fill: #EF3F61; }
      .headerIllustration svg.headerCenter .st8 {
        fill: #4BBC6E; }
      .headerIllustration svg.headerCenter .st9 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 16;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerCenter .st10 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerCenter .st11 {
        fill: #159CEE; }
      @media screen and (max-aspect-ratio: 5 / 3) {
        .headerIllustration svg.headerCenter {
          opacity: 0; } }
      @media screen and (max-width: 600px) {
        .headerIllustration svg.headerCenter {
          opacity: 0; } }
    .headerIllustration svg.headerRight {
      right: -1%; }
      .headerIllustration svg.headerRight .st0 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 12;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st1 {
        fill: #3A3A59; }
      .headerIllustration svg.headerRight .st2 {
        fill: #0E69A1; }
      .headerIllustration svg.headerRight .st3 {
        fill: #169CEE; }
      .headerIllustration svg.headerRight .st4 {
        fill: #F15732; }
      .headerIllustration svg.headerRight .st5 {
        fill: #FFFFFF; }
      .headerIllustration svg.headerRight .st6 {
        fill: #555574; }
      .headerIllustration svg.headerRight .st7 {
        fill: #4BBC6E; }
      .headerIllustration svg.headerRight .st8 {
        fill: #EF3F61; }
      .headerIllustration svg.headerRight .st9 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 16;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st10 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st11 {
        fill: #159CEE; }
      .headerIllustration svg.headerRight .st12 {
        clip-path: url(#hoistMaskOutter); }
      .headerIllustration svg.headerRight .st13 {
        fill: none;
        stroke: #169CEE;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st14 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st15 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st16 {
        opacity: 0.3;
        fill: #FFFFFF;
        enable-background: new; }
      .headerIllustration svg.headerRight .st17 {
        fill: none;
        stroke: #0E69A1;
        stroke-width: 8;
        stroke-linecap: round;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st18 {
        fill: none;
        stroke: #3A3A59;
        stroke-width: 8;
        stroke-miterlimit: 10; }
      .headerIllustration svg.headerRight .st19 {
        fill: #4BBC6E; }
      .headerIllustration svg.headerRight .hoistWheels g {
        transform-origin: 50% 50%; }
      .headerIllustration svg.headerRight .phone2ColorContainer {
        clip-path: url(#phone2ScreenMask); }
      .headerIllustration svg.headerRight .phone3ColorContainer {
        clip-path: url(#phone3ScreenMask); }
      .headerIllustration svg.headerRight .phone2Color, .headerIllustration svg.headerRight .phone3Color {
        transform-origin: 50% 50%; }
    .headerIllustration svg .pushOne {
      transform-origin: 25% 0%; }
  @media screen and (max-width: 600px) {
    .headerIllustration {
      height: 76%; }
      .headerIllustration svg.headerLeft {
        left: 2%; }
      .headerIllustration svg.headerRight {
        right: 0px; } }
  @media screen and (max-aspect-ratio: 4 / 3) {
    .headerIllustration {
      height: 65%; } }

.wrapper {
  width: 100%;
  background: #ffffff; }

section {
  padding-bottom: 16px;
  float: left;
  position: relative;
  width: 100%;
  background: #ffffff; }
  section:last-of-type {
    margin-bottom: 128px; }

.container {
  padding: 0px 32px; }

.repo, .repoList {
  border: 1px solid #E0E0EA;
  background: rgba(22, 156, 238, 0.03); }
  .repo .repoDescription p, .repoList .repoDescription p {
    font-size: 14px;
    line-height: 24px;
    overflow: hidden;
    color: #66637A;
    padding: 12px 16px;
    margin: 0px;
    opacity: 0.5; }
  .repo img.icon, .repoList img.icon {
    height: 14px;
    margin-right: 4px;
    position: relative;
    top: 1px; }

.repo {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 48px;
  float: left;
  min-width: 240px;
  border-radius: 4px;
  width: 33.333333%;
  margin-right: 0px;
  width: calc(33.333333% - 32px);
  margin-right: calc(48px); }
  .repo:nth-of-type(3n) {
    margin-right: 0px; }
    @media screen and (max-width: 960px) {
      .repo:nth-of-type(3n) {
        margin-right: 36px; } }
  .repo h4 {
    color: #66637A;
    text-overflow: ellipsis;
    overflow: hidden; }
  .repo .SDKLogo {
    height: 48px;
    position: absolute;
    top: 11px;
    right: 16px; }
  .repo .repoTitle {
    padding: 10px 16px;
    position: relative; }
    .repo .repoTitle p {
      margin: 0px;
      opacity: 0.45;
      font-size: 14px;
      font-family: "din";
      line-height: 16px; }
      .repo .repoTitle p span {
        margin-right: 24px; }
  .repo .repoLink {
    height: 48px;
    border-top: 1px solid #E0E0EA;
    position: relative;
    cursor: pointer;
    background: #ffffff; }
    .repo .repoLink a {
      border-bottom: 1px solid #E0E0EA; }
    .repo .repoLink:first-of-type {
      margin-top: 0px; }
    .repo .repoLink p {
      line-height: 46px;
      padding: 0px 16px;
      color: #66637A; }
    .repo .repoLink:hover:after {
      opacity: 1; }
    .repo .repoLink:after {
      transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      content: "";
      position: absolute;
      right: 12px;
      top: 12px;
      width: 24px;
      height: 24px;
      background: url("../img/arrowRight.svg") no-repeat center;
      background-size: 100% auto;
      opacity: 0.18; }
  .repo .repoDescription {
    background: #ffffff;
    border-top: 1px solid #E0E0EA;
    border-bottom: 1px solid #E0E0EA;
    height: 72px;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 12px #ffffff solid; }
  .repo .repoButton {
    padding: 14px 16px;
    background: rgba(22, 156, 238, 0.03);
    border-top: 1px solid #E0E0EA; }
    .repo .repoButton button {
      width: 100%; }
  @media screen and (max-width: 600px) {
    .repo {
      float: none;
      width: 100%; } }

.repoList {
  width: 100%;
  height: 72px;
  background: rgba(22, 156, 238, 0.03);
  position: relative;
  border-bottom: 0px; }
  .repoList .repoTitle, .repoList .repoDescription, .repoList .repoInfo {
    position: absolute;
    top: 0px;
    height: 100%; }
    .repoList .repoTitle h4, .repoList .repoTitle p, .repoList .repoDescription h4, .repoList .repoDescription p, .repoList .repoInfo h4, .repoList .repoInfo p {
      line-height: 72px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      padding: 0px 16px; }
  .repoList .repoTitle {
    left: 0px;
    width: 33.3333333333%; }
    .repoList .repoTitle h4 {
      font-size: 14px;
      font-family: 'alrightBold';
      color: #66637A;
      padding-left: 24px; }
  .repoList .repoDescription {
    left: 33.3333333333%;
    width: 33.3333333333%; }
  .repoList .repoInfo {
    left: 66.6666666667%;
    width: 33.3333333333%;
    padding-right: 16px; }
    .repoList .repoInfo p {
      white-space: nowrap; }
    .repoList .repoInfo span {
      float: right;
      padding-left: 16px; }
  .repoList:first-of-type {
    border-radius: 4px 4px 0px 0px; }
  .repoList:last-of-type {
    border-radius: 0px 0px 4px 4px;
    border-bottom: 1px solid #E0E0EA; }

footer {
  float: left;
  height: 288px;
  width: 100%;
  background: rgba(235, 235, 242, 0.3); }
  footer .container {
    position: relative;
    height: 100%;
    display: table; }
  footer .footerImage {
    position: absolute;
    top: 0px;
    left: 32px;
    right: 32px;
    bottom: 0px;
    margin: auto;
    height: 192px; }
  footer p {
    margin-bottom: 0px;
    line-height: 32px;
    color: #169CEE;
    width: 100%; }
  footer .socialLinks, footer .needHelp {
    display: table-cell;
    vertical-align: middle; }
  footer .socialLinks {
    margin-right: 32px; }
    footer .socialLinks h5, footer .socialLinks p {
      text-align: right; }
  footer .needHelp {
    margin-left: 32px; }
    footer .needHelp h5, footer .needHelp p {
      text-align: left; }
  footer .socialIcons {
    float: right;
    margin-top: 2px;
    margin-right: -8px; }
    footer .socialIcons img {
      height: 32px;
      cursor: pointer;
      margin-left: 4px;
      transition: 0.2s cubic-bezier(0.4, 0, 0.2, 1); }
      footer .socialIcons img:hover {
        transform: scale(1.1); }
  @media screen and (max-width: 720px) {
    footer .footerImage {
      display: none; } }
  @media screen and (max-width: 600px) {
    footer .socialLinks, footer .needHelp {
      display: block;
      margin-left: 16px; }
      footer .socialLinks h5, footer .socialLinks p, footer .needHelp h5, footer .needHelp p {
        text-align: left; }
      footer .socialLinks .socialIcons, footer .needHelp .socialIcons {
        float: left;
        margin-left: -5px;
        margin-right: 0px; }
        footer .socialLinks .socialIcons img, footer .needHelp .socialIcons img {
          margin: 0px 4px 0px 0px; }
    footer .needHelp {
      margin-top: 48px; }
    footer .socialLinks {
      margin-top: 32px; } }
